# set of parameters for iButton authorization
pam_params = 
{
# COM baudrate for connection with UART device
baudrate = 19200;

# The direction to search connection with
arduino_dev = "/dev/arduino";

# count of time for authorization in sec.
time_to_live = 30;
};

# hex value for hash calculating
hmac_key =
{
key = "3dc6caa4824a6d288767b2331e20b43166cb85d9";
};


# This is dynamical database with ibutton keys
# You are able to add any key with any field name
ibutton_id_database =
{
jayawar = "1028ff8313c017";
o_kravetc = "2328ff7771c417";
# ....
# ....
# ....
# ....
};


